html,
body {
  width: 100%;
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
}

html {
  min-height: 100%;
  display: grid;
  place-content: center;
  padding: 5vh 0em;
}

:root {
  --cell-scale: calc(min(12vw, 12vh));
}

table {
  background-color: black;
  touch-action: none;
}

td {
  border: 1px solid #888;
  border: 1px solid #888;
  width: var(--cell-scale);
  height: var(--cell-scale);

  transition: background-color 0.2s;
}

.dot {
  width: 90%;
  height: 90%;
  margin: 5%;
  border-radius: 100%;

  transition: background-color 0.2s;
}

td {
  cursor: pointer;
  background: #fdb;
  border: none;
}

td:hover {
  background: #fb7 !important;
  transition: background-color 0s;
}

td.alive-now .dot {
  background: black;
  box-shadow: inset 0px 0px 0px calc(var(--cell-scale) / 8) black;
}

td.alive-next:not(.alive-now) .dot {
  background: white;
  box-shadow: inset 0px 0px 0px 2px black;
}

td.alive-now.dead-next .dot {
  --bg: rgb(255, 255, 63);
  --diag: rgb(191, 191, 127);
  background-color: rgb(255, 255, 63);
  background: repeating-linear-gradient(
    -45deg,
    var(--bg),
    var(--bg) calc(var(--cell-scale) / 12),
    var(--diag) calc(var(--cell-scale) / 12),
    var(--diag) calc(var(--cell-scale) / 6)
  );
  border: 1px solid;
}

.correct {
  background: rgb(127, 255, 127) !important;
}

.incorrect {
  --bg: rgb(255, 63, 63);
  --diag: rgba(255, 160, 160);
  background-color: red !important;
  background: linear-gradient(
      45deg,
      transparent 0%,
      transparent 45%,
      var(--diag) 45%,
      var(--diag) 55%,
      transparent 55%,
      transparent 100%
    ),
    linear-gradient(
      -45deg,
      var(--bg) 0%,
      var(--bg) 45%,
      var(--diag) 45%,
      var(--diag) 55%,
      var(--bg) 55%,
      var(--bg) 100%
    );
}

#board {
  width: 100%;
  display: grid;
  place-content: center;
}

button {
  font-size: 1.5em;
  padding: 0.5em 0.25em;
}

.column-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: calc(var(--cell-scale) / 8);
}

.legend {
  font-size: 1.5em;
}
