html,
body {
  width: 100%;
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
}

html {
  min-height: 100%;
  display: grid;
  place-content: center;
  padding: 5vh 0em;
}

:root {
  --cell-scale: calc(min(14vw, 14vh));
}

table {
  background-color: black;
  touch-action: none;
}

td {
  border: 1px solid #888;
  border: 1px solid #888;
  width: var(--cell-scale);
  height: var(--cell-scale);
}

.dot {
  width: 90%;
  height: 90%;
  margin: 5%;
  border-radius: 100%;
}

td {
  cursor: pointer;
  background: #fdb;
  border: none;
}

td:hover {
  background: #fb7;
}

td.alive-now .dot {
  background: black;
}

td.alive-next:not(.alive-now) .dot {
  background: white;
  border: 1px solid;
}

td.alive-now.dead-next .dot {
  background-color: red;
  background: repeating-linear-gradient(
    -45deg,
    red,
    red calc(var(--cell-scale) / 12),
    rgba(255, 159, 159, 1) calc(var(--cell-scale) / 12),
    rgba(255, 159, 159, 1) calc(var(--cell-scale) / 6)
  );
  border: 1px solid;
}

.correct {
  background: lime !important;
}

.incorrect {
  background: red !important;
}

#board {
  width: 100%;
  display: grid;
  place-content: center;
}

button {
  max-width: 90%;
  font-size: 1.5em;
  padding: 0.25em;
}

#demo {
  padding: 0 5vw;
}
